.container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.firstRow{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.image{
    border-radius: 5px;
}